.product {
    width: 300px;
    height: 510px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.product img {
    height: 286px;
    width: 286px;
    border-radius: 8px;

}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

.btn-cart {
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;

    bottom: 0px;

}

.btn-cart:hover {
    background-color: orange;
}